body{
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30vh;
}

.nav{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    position: absolute;
    transform: all 0.3s;
    background-color: #151515;
    width: 100%;
}

.nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul li{
    display: flex;
}

.nav ul li a{
    font-family: sans-serif;
    font-size: 1.1em;
    color: #fff;
    padding: 0.25rem 0;
    margin: 0 1.60rem;
    text-transform: uppercase;
    text-decoration: none;
}

.nav ul li a.active{
    border-bottom: 4px solid #fff;
    padding: 10px;
    color: #32a0c2;
    font-weight: 650;
}

.nav ul li.logo a{
    margin: 0 2rem;
}

.nav ul li.login a{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
    transition: 0.4s;
}

.nav ul li .fas{
    color: #fff;
    font-size: 1.1em;
    transition: 0.4s;
}

.nav ul li.login:hover a{
    border: 1px solid #fff;
    background-color: #fff;
    color: #151515;
}

.nav ul li.login:hover .fas{
    border: 1px solid #fff;
    background-color: #fff;
    color: #151515;
}

.logo{
    height: 150px;
    width: 145;
    background-image: url('images/logo_2.png');
}


.nav ul li.submenu i{
    font-size: 1.5em;
    margin-left: -35px;
}

.nav ul li.submenu{
    transition: 0.4s;
}


