
/***************  ****************/
/***************  ****************/
/***************  ****************/
/***************  ****************/
/********* USER INTERFACE ********/

body{
    margin: 0;
    padding: 0;
    background-color: #c63339;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fa-2x{
    font-size: 2em;
}

.fa{
    position: relative;
    display: table-cell;
    width: 60px;
    height: 46px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px; 
}

.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 25%;
    height: 100%;
    background-color: #111;
    color: #fff;
    margin-left: -40px;
  }



  /* Change profile image style */
.image-profile{
    line-height: 50px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 7px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

/* Second header */
.image-profile h3{
    font-size: 18px;
    padding-bottom: 15px;
    /* Adding a line/border below the hearder h2 */
    border-bottom: 3px solid #111;
}

.user-container:hover{
    background-color: #111;
}

/* styling the buttons */
.upload-profile{
    border: 3px solid #111;
    padding: 15px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    margin-top: 20px;
    font-family: sans-serif;
    letter-spacing: 7px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}

.delete-file{
    margin-top: 20px;
    border: 3px solid #111;
    padding: 15px;
    width: 150px;
    height: 50px;
    transition: 0.4s;
    font-family: sans-serif;
    letter-spacing: 7px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}
.upload-profile:hover,.delete-file:hover{
    cursor: pointer;
    background-color: #111;
    color: #fff;
}

ul{
    text-decoration: none;
}

li{
    transition: 0.4s;
    list-style-type: none;
    width: 100%;
    
}

li a{
    line-height: 50px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 7px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

li:hover{
    background-color: #32a0c2;
    font-weight: 600;

}

li i{
    width: 50px;
}
li span{
    width: 100px;
}

ul.logout{
position: absolute;
left: 0;
bottom: 0;
width: 300px;
}

.profileImage{
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
    border: 3px solid #c63339;
    border-radius: 50%;
}

.user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.account-info{
    margin-top: 50px;
    line-height: 30px;
    font-family: sans-serif;
    letter-spacing: 8px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #32a0c2;
}

/* Course sections */
.course-header{
    line-height: 50px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 9px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

.bought-course{
    display: flex;
}
.course-image{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 120px;
    padding: 50px;
    border: 3px solid #32a0c2;
    border-radius: 50%;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.cimage{
    width: 120px;
    height: 100vp;
}

.myCourses{
    display: block;
}



/* Edit Sections */
.edit-profile h2{
    margin-bottom: 50px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.edit-profile input{
    margin-bottom: 25px;
}


.edit-profile{
    margin-bottom: 100px;
}

.edit-profile-container{
    display: flex;
    flex-wrap: wrap;
}

.changePass,.changeUser{
    width: 155px;
    height: 60px;
    background-color: #111;
    color: #32a0c2;
    border: 1px solid #c63339;
    border-radius: 35px;
    cursor: pointer;
}


/* Styling table */
